.main-container {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
}

.products-section {
    margin-top: 40px;
    width: 70%;
    height: 50vh; 
    overflow-y: auto; 
    padding-right: 10px;
    margin-left: 40px;
    resize: vertical; 
    box-sizing: border-box; 
    box-shadow: -6px 7px 6px 0 rgba(144, 17, 179, 0.4);
}

.products__title {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px; 
}

.card {
    background-color: #6c459f;
    color: #FFFFFF;
    width: calc(100% / 4 - 10px);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    height: auto;
    filter: drop-shadow(0 4px 8px rgba(252, 252, 252, 1));
    border-radius: 5px;
    border: 3px solid black;
}

.card-container--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container--value {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.delete-button {
    display: flex;
    justify-content: space-around;
    padding: 0;
    background: none;
    border: none;
}

.delete-icon {
    margin-left: 5px;
    width: 18px;
    height: 18px;
    max-width: 100%;
}
