.main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
}

.products-section {
    margin-top: 40px;
    width: 70%;
    height: 50vh;
    min-height: 50vh;
    overflow-y: auto;
    margin-left: 40px;
    resize: vertical;
    box-sizing: border-box;
    box-shadow: -6px 7px 6px 0 rgba(144, 17, 179, 0.4);
}

.products__title {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    background-color: #6c459f;
    color: #FFFFFF;
    width: calc(100% / 3 - 30px);
    height: 220px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 7px;
    filter: drop-shadow(0 4px 8px rgba(252, 252, 252, 1));
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-container--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    margin: 5px;
    font-weight: 400;
    filter: drop-shadow(3px 7px 5px rgb(0, 0, 0));
}

.card-container--value {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.delete-button {
    display: flex;
    justify-content: space-around;
    padding: 0;
    background: none;
    border: none;
}

.delete-icon {
    margin-left: 10px;
    width: 22px;
    height: 22px;
    max-width: 100%;
    filter: drop-shadow(3px 7px 4px rgb(0, 0, 0));
}

.delete-icon:hover {
    margin-left: 10px;
    width: 22px;
    height: 22px;
    max-width: 100%;
    filter: drop-shadow(3px 7px 4px rgb(179, 176, 176));
}

@media (max-width: 768px) {

    .main-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: auto;
    }

    .products-section {
        width: 85%;
        margin: 70px 0;
        resize: vertical;
    }
    
    .card {
        width: calc(100% / 2 - 30px);
    }
}

@media (max-width: 480px) {

    .main-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: auto;
    }

    .products-section {
        width: 80%;
        margin: 70px 0;
        resize: vertical;
    }

    .card {
        width: calc(100% - 40px);
    }
}